parameters:
	ignoreErrors:
		-
			message: "#^Access to constant RestrictionEndTime on an unknown class TYPO3\\\\CMS\\\\Core\\\\Schema\\\\Capability\\\\TcaSchemaCapability\\.$#"
			count: 1
			path: Classes/Cache/Expiration/CacheExpirationCalculator.php

		-
			message: "#^Access to constant RestrictionStartTime on an unknown class TYPO3\\\\CMS\\\\Core\\\\Schema\\\\Capability\\\\TcaSchemaCapability\\.$#"
			count: 1
			path: Classes/Cache/Expiration/CacheExpirationCalculator.php

		-
			message: "#^Call to method get\\(\\) on an unknown class TYPO3\\\\CMS\\\\Core\\\\Schema\\\\TcaSchemaFactory\\.$#"
			count: 1
			path: Classes/Cache/Expiration/CacheExpirationCalculator.php

		-
			message: "#^Call to method has\\(\\) on an unknown class TYPO3\\\\CMS\\\\Core\\\\Schema\\\\TcaSchemaFactory\\.$#"
			count: 1
			path: Classes/Cache/Expiration/CacheExpirationCalculator.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Core\\\\Schema\\\\TcaSchemaFactory not found\\.$#"
			count: 1
			path: Classes/Cache/Expiration/CacheExpirationCalculator.php

		-
			message: "#^Parameter \\$capability of anonymous function has invalid type TYPO3\\\\CMS\\\\Core\\\\Schema\\\\Capability\\\\TcaSchemaCapability\\.$#"
			count: 1
			path: Classes/Cache/Expiration/CacheExpirationCalculator.php

		-
			message: "#^Method CPSIT\\\\Typo3CacheBags\\\\Database\\\\Query\\\\QueriedTableAwareQueryBuilder\\:\\:getQueriedTables\\(\\) should return array\\<non\\-empty\\-string, non\\-empty\\-string\\> but returns array\\<string\\>\\.$#"
			count: 1
			path: Classes/Database/Query/QueriedTableAwareQueryBuilder.php

		-
			message: "#^Instantiated class TYPO3\\\\CMS\\\\Core\\\\Cache\\\\CacheTag not found\\.$#"
			count: 1
			path: Classes/EventListener/PageCacheBagRegisteredEventListener.php

		-
			message: "#^Method CPSIT\\\\Typo3CacheBags\\\\EventListener\\\\PageCacheBagRegisteredEventListener\\:\\:convertCacheTagsToObjects\\(\\) has invalid return type TYPO3\\\\CMS\\\\Core\\\\Cache\\\\CacheTag\\.$#"
			count: 1
			path: Classes/EventListener/PageCacheBagRegisteredEventListener.php

		-
			message: "#^There is no request attribute \"frontend\\.cache\\.collector\" configured so we can't figure out the exact type to return when calling Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\:\\:getAttribute$#"
			count: 1
			path: Classes/EventListener/PageCacheBagRegisteredEventListener.php
