services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  CPSIT\Typo3CacheBags\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Database/*'
      - '../Classes/Enum/*'
      - '../Classes/Event/*'
      - '../Classes/Exception/*'
