includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- phpstan-baseline.neon
parameters:
	level: max
	bootstrapFiles:
		- phpstan-bootstrap.php
	paths:
		- ../../Classes
		- ../../Configuration
		- ../../Tests
	excludePaths:
		- .
